<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">{{ 'app.dashboard_items.activities' | trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            {% for activity in activities %}
                <p class="list-group-item"><a href="{{ path('app_issue_view', {'id': activity.issue_id}) }}">{{ activity.message }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>

