{% extends 'layout.html.twig' %}
{% block menu %}
    {% include 'menu.html.twig' %}
{%  endblock %}
{% block page %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">{% block page_header %}{%  endblock %}</h1>
        </div>
        <div class="row">
            <div class="col-md-12">{% block page_content %}{%  endblock %}</div>
        </div>
    </div>
{%  endblock %}


