{% extends 'default/index.html.twig' %}

{% block title %}
    {{ 'app.titles.users_list' | trans }}
{% endblock %}
{% block page_header %}{{ 'user.users' | trans }}{%  endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" href="{{ path('app_user_add') }}">{{ 'user.add_user' | trans }}</a>
        </div>
    </div>
    <br/>
    {% include 'users_list.html.twig' %}
{%  endblock %}

