{% extends '@App/Default/index.html.twig' %}
{% block title %}
    {{ 'app.titles.user_view' | trans({'%user%' : user.username}) }}
{% endblock %}
{% block page_header %}
    {{ 'app.titles.user_view' | trans({'%user%' : user.username}) }}
{%  endblock %}
{% block page_content %}
    {% for flashMessage in app.session.flashbag.get('flash_user_actions') %}
        <div class="alert alert-warning" role="alert">{{ flashMessage }}</div>
    {% endfor %}
    <table class="table">
        <tr>
            <td colspan="2">{% include '@App/user.html.twig' %}</td>
        </tr>

        <tr>
            <td>{% include '@App/issues.html.twig' with {'issues_panel_title': 'app.dashboard_items.assigned_issues' | trans } %}</td>
            <td>{% include '@App/activities.html.twig' %}</td>
        </tr>
    </table>
{%  endblock %}
